<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-vrviewer" version="1.0.0">

    <name>vrviewer</name>
    <description>VR viewer with GVR plugin</description>
    <license>MIT</license>
    <keywords>vrviewer, gvr, vr</keywords>

    <js-module src="www/vrviewer.js" name="vrviewer">
        <clobbers target="vrViewer"/>
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="VRViewer">
                <param name="ios-package" value="VRViewerModule"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleDevelopmentRegion">
            <string>en_US</string>
        </config-file>
        <config-file target="*-Info.plist" parent="UIFileSharingEnabled">
            <true/>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>This app would access to photos</string>
        </config-file>
        <framework src="libstdc++.tbd"/>
        <framework src="CoreMedia.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="CoreMotion.framework"/>
        <framework src="MediaPlayer.framework"/>
        <framework src="GLKit.framework"/>
        <framework src="AudioToolBox.framework"/>

        <framework src="GVRKit" type="podspec" spec="= 1.120.0" />

        <header-file src="src/ios/VRViewerModule.h"/>
        <source-file src="src/ios/VRViewerModule.m"/>
    </platform>

    <!--android-->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VRViewer">
                <param name="android-package" value="com.cordova.plugin.vrviewer.VRViewer"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.cordova.plugin.vrviewer.VideoActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
            <activity android:name="com.cordova.plugin.vrviewer.PanoActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        </config-file>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/VRViewer.java" target-dir="src/com/cordova/plugin/vrviewer"/>
        <source-file src="src/android/view/VideoActivity.java" target-dir="src/com/cordova/plugin/vrviewer"/>
        <source-file src="src/android/view/PanoActivity.java" target-dir="src/com/cordova/plugin/vrviewer"/>
        <source-file src="src/android/res/vr_viewer_pano.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/vr_viewer_video.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/ic_menu_back.png" target-dir="res/drawable"/>
    </platform>
</plugin>
